
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.behance-post-Q7A {
  box-sizing: border-box;
  padding-bottom: 79rem;
  display: flex;
  background-color: #323443;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;

  .auto-group-42j4-u3v {
    margin: 0rem 0.1rem 396.6rem 0rem;
    width: calc(100% - 0.1rem);
    height: 304rem;
    position: relative;
    flex-shrink: 0;

    .desktop-version-D4c {
      position: absolute;
      left: 47.2rem;
      top: 9.2rem;
      font-size: 5.6rem;
      font-weight: 700;
      width: 49.7rem;
      line-height: 1.2857142857;
      letter-spacing: 0.1rem;
      color: #fafafa;
      font-family: Sora, 'Source Sans Pro';
      white-space: nowrap;
      height: 7.2rem;
    }
    .homepage-desktop-4L8 {
      width: 144rem;
      height: 304rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #272727;

      .hi-im-yoan-nurazizah-xgQ {
        white-space: nowrap;
        left: 15.3rem;
        top: 16rem;
        line-height: 1.2857142857;
        letter-spacing: 0.1rem;
        font-weight: 700;
        font-family: Sora, 'Source Sans Pro';
        width: 62.1rem;
        height: 7.2rem;
        position: absolute;
        font-size: 5.6rem;
      }
      .navbar-section-3Sx {
        left: 0;
        top: 0;
        border-bottom: solid 0.1rem #4c4c4c;
        box-sizing: border-box;
        width: 199.6rem;
        height: 271.3rem;
        position: absolute;

        .auto-group-tuqx-axg {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          padding: 2.6rem 15.7rem 2.6rem 15.1rem;
          width: 144rem;
          height: 16rem;

          .naufaldi-logo-6w2 {
            font-weight: 700;
            line-height: 1.25;
            color: #ffffff;
            margin: 0rem 40.3rem 2.6rem 0rem;
            letter-spacing: 0.05rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
          .menu-navbar-QB2 {
            margin-bottom: 2.7rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .home-YHE {
              font-weight: 600;
              line-height: 5.03125;
              letter-spacing: 0.1rem;
              margin-right: 6.3rem;
              text-align: right;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              color: #ffffff;
            }
            .sketch-FSY {
              font-size: 1.6rem;
              line-height: 5.03125;
              color: #d1d1d1;
              white-space: nowrap;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 6.3rem;
              text-align: right;
              font-weight: 600;
              letter-spacing: 0.1rem;
            }
            .portofolio-B5J {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 7.9rem;
              text-align: right;
              font-size: 1.6rem;
              line-height: 5.03125;
              font-weight: 600;
              letter-spacing: 0.1rem;
              color: #d1d1d1;
              font-family: Inter, 'Source Sans Pro';
            }
            .kata-kata-hJY {
              font-size: 1.6rem;
              letter-spacing: 0.1rem;
              color: #d1d1d1;
              margin-right: 7.8rem;
              text-align: center;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 600;
              line-height: 5.03125;
            }
            .blog-cgQ {
              letter-spacing: 0.1rem;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              color: #d1d1d1;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
              line-height: 5.03125;
            }
          }
        }
      }
      .bio-section-Kap {
        top: 20.3rem;
        width: 109.9rem;
        height: 275.8rem;
        position: absolute;
        left: 14.9rem;

        .biography-section-f8t {
          height: 263.9rem;
          position: absolute;
          left: 0;
          top: 11.9rem;
          width: 109.9rem;

          .saya-adalah-seorang-di-bidang-desain-grafis-lahir-di-bandung-saya-lulusan-di-smkn-14-bandung-dengan-jurusan-animasi-saya-telah-memiliki-pengalaman-kerja-praktik-selama-3-bulan-di-bidang-desain-grafis-Bsv {
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 37.6rem 22.9rem;
            max-width: 87rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.7777777778;
            letter-spacing: 0.0252rem;
            color: #d5d5d5;
          }
          .skill-1MA {
            font-family: Sora, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.7rem;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.1666666667;
            letter-spacing: 0.1rem;
            color: #ffffff;
          }
          .auto-group-unue-8Rn {
            align-items: center;
            margin-bottom: 185.9rem;
            height: 16.3rem;
            display: flex;

            .auto-group-lhmi-sPN {
              margin-right: 14.1rem;
              width: 56.5rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .what-i-do-section-DTE {
                top: 0;
                display: flex;
                align-items: flex-start;
                width: 54.1rem;
                height: 16.3rem;
                position: absolute;
                left: 0.4rem;

                .item--9Lt {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 2.1rem 1.196rem 0rem 0rem;
                  width: 3.804rem;
                  height: 3.3608rem;
                  object-fit: contain;
                }
                .description-section-eoS {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .auto-group-gyey-18C {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .photoshop-Mxk {
                      font-size: 2.8rem;
                      line-height: 2.5714285714;
                      letter-spacing: 0.1rem;
                      flex-shrink: 0;
                      margin-bottom: 1.9rem;
                      font-weight: 700;
                      color: #ffffff;
                      font-family: Sora, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                    .picsart-HLc {
                      margin-left: 0.6rem;
                      font-size: 2.8rem;
                      font-weight: 700;
                      line-height: 2.5714285714;
                      color: #ffffff;
                      letter-spacing: 0.1rem;
                      font-family: Sora, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                  .auto-group-yu5w-PuS {
                    padding: 2.1rem 0rem 0rem 16.3rem;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    flex-shrink: 0;
                    box-sizing: border-box;

                    .auto-group-zkyj-iwi {
                      margin: 0rem 2.496rem 1.939rem 0rem;
                      align-items: center;
                      display: flex;
                      flex-direction: column;
                      flex-shrink: 0;

                      .item--FRr {
                        margin-bottom: 5.5392rem;
                        width: 3.804rem;
                        height: 3.3608rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                      }
                      .item--P2G {
                        width: 3.804rem;
                        height: 3.3608rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                      }
                    }
                    .canva-X8U {
                      color: #ffffff;
                      font-family: Sora, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 2.8rem;
                      font-weight: 700;
                      line-height: 2.5714285714;
                      letter-spacing: 0.1rem;
                    }
                  }
                }
              }
              .filmora-3sW {
                line-height: 2.5714285714;
                white-space: nowrap;
                top: 0.2rem;
                font-weight: 700;
                position: absolute;
                left: 44.9rem;
                font-size: 2.8rem;
                letter-spacing: 0.1rem;
                color: #ffffff;
                font-family: Sora, 'Source Sans Pro';
                width: 11.6rem;
                height: 7.2rem;
              }
              .item--m2p {
                object-fit: contain;
                vertical-align: top;
                width: 3.804rem;
                height: 3.3608rem;
                position: absolute;
                left: 0;
                top: 11rem;
              }
            }
            .auto-group-h9hs-JYY {
              flex-direction: column;
              flex-shrink: 0;
              margin: 2.1rem 4.196rem 1.939rem 0rem;
              height: calc(100% - 4.0392rem);
              align-items: center;
              display: flex;

              .item--ESC {
                height: 3.3608rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0rem 5.539rem 0.3rem;
                width: 3.804rem;
              }
              .item--kfS {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.3rem;
                width: 3.804rem;
                height: 3.3608rem;
                object-fit: contain;
              }
            }
            .auto-group-shix-H9a {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;

              .medibang-paint-djE {
                letter-spacing: 0.1rem;
                font-family: Sora, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2.8rem;
                font-weight: 700;
                line-height: 2.5714285714;
                margin-bottom: 1.9rem;
                color: #ffffff;
                flex-shrink: 0;
              }
              .ibis-paintx-kor {
                letter-spacing: 0.1rem;
                color: #ffffff;
                font-family: Sora, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.8rem;
                font-weight: 700;
                line-height: 2.5714285714;
              }
            }
          }
          .lets-connect-section-hDJ {
            display: flex;
            align-items: center;
            margin-right: 81.1rem;
            width: calc(100% - 81.1rem);
            height: 7.2rem;

            .icon-list-dck {
              padding-right: 0.75rem;
              height: calc(100% - 4rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 1.9rem 2rem 2.1rem 0rem;
              box-sizing: border-box;

              .group-1-khN {
                flex-shrink: 0;
                margin-right: 1.7rem;
                width: 3.2rem;
                height: 3.2rem;
                object-fit: contain;
                vertical-align: top;
              }
              .group-2-hMi {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.575rem;
                width: 3.2rem;
                height: 3.2rem;
                object-fit: contain;
              }
              .facebook-3Ag {
                height: 2.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                width: 1.375rem;
              }
            }
            .yoannrzh-agQ {
              font-family: Sora, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 700;
              line-height: 2.5714285714;
              letter-spacing: 0.1rem;
              color: #fafafa;
            }
          }
        }
        .yoan-removebg-preview-1-K8C {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 18.6105rem;
          height: 23.8027rem;
          position: absolute;
          left: 2.4rem;
        }
        .biografi-SCp {
          position: absolute;
          letter-spacing: 0.1rem;
          white-space: nowrap;
          font-weight: 700;
          line-height: 1.1666666667;
          color: #ffffff;
          width: 20.5rem;
          height: 5.6rem;
          left: 22.9rem;
          top: 5.3rem;
          font-size: 4.8rem;
          font-family: Sora, 'Source Sans Pro';
        }
      }
      .what-i-do-section-wQU {
        left: 15.3rem;
        top: 49.4rem;
        display: flex;
        align-items: center;
        width: 112.404rem;
        height: 28.4rem;
        position: absolute;

        .description-section-Ghe {
          position: relative;
          flex-shrink: 0;
          width: 45.7rem;
          height: 100%;

          .what-i-do-d2Q {
            left: 0;
            font-weight: 700;
            line-height: 2.5714285714;
            letter-spacing: 0.1rem;
            white-space: nowrap;
            width: 14.6rem;
            height: 7.2rem;
            position: absolute;
            top: 0;
            font-size: 2.8rem;
            color: #ffffff;
            font-family: Sora, 'Source Sans Pro';
          }
          .menciptakan-visual-yang-komunikatif-menggunakan-elemen-elemen-seperti-gambar-warna-teks-dan-ilustrasi-moto-saya-menggabungkan-seni-dan-teknologi-menekankan-penggabungan-antara-elemen-seni-dan-teknologi-dalam-proses-desain-grafis-yang-menggabungkan-keahlian-kreatif-dan-teknis-jbE {
            font-family: Inter, 'Source Sans Pro';
            width: 45.6rem;
            height: 22.4rem;
            position: absolute;
            left: 0.1rem;
            top: 6rem;
            color: #eccece;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.7777777778;
            letter-spacing: 0.0252rem;
          }
        }
        .auto-group-gwv8-ixx {
          box-sizing: border-box;
          padding: 2.1rem 0rem 3.4rem 2.4rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .web-dev-card-2ik {
            height: 100%;
            position: relative;
            flex-shrink: 0;
            margin-right: 4.2rem;
            width: 26.2rem;

            .rectangle-9-NXi {
              position: absolute;
              left: 0;
              top: 3.6rem;
              background-color: #323443;
              border-radius: 1.2rem;
              width: 26.2rem;
              height: 19rem;
            }
            .group-2-JRN {
              left: 1.75rem;
              top: 5.25rem;
              width: 22.6rem;
              height: 17.65rem;
              position: absolute;

              .fun-art-2cG {
                top: 0;
                justify-content: center;
                font-size: 1.6rem;
                position: absolute;
                left: 7.95rem;
                display: flex;
                font-weight: 600;
                line-height: 4.5;
                letter-spacing: 0.1rem;
                width: 6.7rem;
                height: 7.2rem;
                align-items: center;
                color: #fafaf9;
                white-space: nowrap;
                font-family: Sora, 'Source Sans Pro';
              }
              .menunjukkan-rasa-pengaguman-penghargaan-dan-dukungan-terhadap-karya-seni-dan-seniman-yang-mereka-sukai-7Np {
                position: absolute;
                justify-content: center;
                font-size: 1.4rem;
                height: 13rem;
                font-weight: 400;
                line-height: 1.8571428571;
                color: rgba(239, 237, 232, 0.6499999762);
                font-family: Inter, 'Source Sans Pro';
                width: 22.6rem;
                left: 0;
                top: 4.65rem;
                display: flex;
                align-items: center;
                letter-spacing: 0.1rem;
              }
            }
            .group-91-AM6 {
              padding: 2.07rem 2.16rem 2.17rem 2.16rem;
              left: 9.5rem;
              border-radius: 3.6rem;
              position: absolute;
              top: 0;
              background-color: #323443;
              box-sizing: border-box;
              width: 7.2rem;
              height: 7.2rem;

              .globe-4SU {
                width: 2.88rem;
                height: 2.96rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .ux-research-card-Zu2 {
            margin: 0rem 3.8rem 0.2rem 0rem;
            width: 26.3rem;
            height: 22.7rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-9-tgQ {
              top: 3.6rem;
              background-color: #323443;
              border-radius: 1.2rem;
              width: 26.3rem;
              height: 19rem;
              position: absolute;
              left: 0;
            }
            .group-2-DTn {
              left: 3.05rem;
              top: 5.2rem;
              width: 20.3rem;
              height: 17.5rem;
              position: absolute;

              .desain-grafis-9sE {
                width: 12.2rem;
                position: absolute;
                top: 0;
                letter-spacing: 0.1rem;
                height: 7.2rem;
                display: flex;
                justify-content: center;
                font-size: 1.6rem;
                align-items: center;
                line-height: 4.5;
                color: #fafaf9;
                font-family: Sora, 'Source Sans Pro';
                left: 4.4rem;
                font-weight: 600;
                white-space: nowrap;
              }
              .desain-grafis-melibatkan-unsur-unsur-kreativitas-inovasi-estetika-dan-keharmonisan-dalam-penyusunan-elemen-visual-FfN {
                width: 20.3rem;
                position: absolute;
                left: 0;
                top: 4.5rem;
                text-align: center;
                font-weight: 400;
                line-height: 1.8571428571;
                letter-spacing: 0.1rem;
                color: rgba(239, 237, 232, 0.6499999762);
                font-family: Inter, 'Source Sans Pro';
                height: 13rem;
                font-size: 1.4rem;
              }
            }
            .group-91-7Sg {
              object-fit: contain;
              vertical-align: top;
              width: 7.2rem;
              height: 7.2rem;
              position: absolute;
              left: 9.6rem;
              top: 0;
            }
            .clipboardlist-3r8 {
              top: 2.07rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.16rem;
              height: 2.96rem;
              position: absolute;
              left: 12.12rem;
            }
          }
          .item--BBe {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 6.5392rem;
            width: 3.804rem;
            height: 3.3608rem;
          }
        }
      }
      .featured-projecti-section-7LC {
        display: flex;
        flex-direction: column;
        width: 112.4rem;
        height: 76.8rem;
        position: absolute;
        left: 14.9rem;
        top: 107.9rem;
        align-items: center;

        .auto-group-nbxt-dZS {
          box-sizing: border-box;
          padding-bottom: 6.6rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .featured-project-aDn {
            font-weight: 700;
            color: #ffffff;
            font-family: Sora, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 3.8rem 0.4rem;
            font-size: 4.8rem;
            line-height: 1.1666666667;
            letter-spacing: 0.1rem;
          }
          .card-project-Upx {
            flex-shrink: 0;
            margin-right: 0.3rem;
            width: calc(100% - 0.3rem);
            height: 28.2rem;
            display: flex;
            align-items: center;

            .auto-group-qwkg-pP2 {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.0003rem 4.7024rem;
              width: 55.5rem;
              height: 100%;
              background-size: cover;
              background-position: center;
              background-image: url('REPLACE_IMAGE:17:106');
              margin-right: 3rem;
              background-repeat: no-repeat;

              .misc06-9w6 {
                margin: 0rem 43.599rem 21.715rem 0rem;
                width: 2.4964rem;
                height: 2.4844rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .auto-group-c5yu-rac {
              margin: 2rem 0;
              width: 53.6rem;
              height: calc(100% - 4rem);
              flex-shrink: 0;

              .fun-art-zRv {
                display: flex;
                font-weight: 700;
                letter-spacing: 0.1rem;
                color: #dedede;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 2.2rem;
                font-size: 1.8rem;
                line-height: 1.3333333333;
              }
              .detail-project-JxQ {
                width: 100%;
                display: flex;
                flex-direction: column;

                .seni-penggemar-UM6 {
                  letter-spacing: 0.1rem;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 700;
                  line-height: 1.1666666667;
                  font-family: Sora, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.2rem;
                  font-size: 4.8rem;
                  color: #ffffff;
                }
                .seni-penggemar-atau-biasa-disebut-fun-art-adalah-karya-seni-buatan-penggemar-dari-sebuah-karya-fiksi-umumnya-media-visual-seperti-komik-film-acara-televisi-dll-dan-berasal-dari-serangkaian-karakter-atau-aspek-lain-dari-karya-tersebut-oPN {
                  max-width: 53.6rem;
                  font-size: 1.8rem;
                  letter-spacing: 0.0252rem;
                  color: #d4d4d4;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 400;
                  line-height: 1.7777777778;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .card-project-Dhz {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .thumbnail-project-aoS {
            flex-shrink: 0;
            margin-right: 3rem;
            width: 55.5rem;
            height: 28.2rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-icwc-Km2 {
            width: 53.9rem;
            flex-shrink: 0;
            margin-top: 2rem;

            .desain-grafis-GRN {
              margin-bottom: 0.35rem;
              display: flex;
              font-weight: 700;
              line-height: 1.3333333333;
              white-space: nowrap;
              font-size: 1.8rem;
              letter-spacing: 0.1rem;
              color: #dedede;
              font-family: Inter, 'Source Sans Pro';
            }
            .detail-project-bTe {
              width: 100%;
              display: flex;
              flex-direction: column;

              .kerja-senang-desain-grafis-ZQU {
                margin-bottom: 0.65rem;
                max-width: 52.6rem;
                display: flex;
                letter-spacing: 0.1rem;
                color: #ffffff;
                font-family: Sora, 'Source Sans Pro';
                font-size: 4.8rem;
                font-weight: 700;
                line-height: 1.1666666667;
                flex-shrink: 0;
              }
              .desain-grafis-atau-rancang-grafis-adalah-proses-komunikasi-menggunakan-elemen-visual-seperti-tipografi-fotografi-serta-ilustrasi-yang-dimaksudkan-untuk-menciptakan-persepsi-akan-suatu-pesan-yang-disampaikan-bidang-ini-melibatkan-proses-komunikasi-visual-dan-desain-komunikasi-4s2 {
                max-width: 53.9rem;
                display: flex;
                line-height: 1.7777777778;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                letter-spacing: 0.0252rem;
                color: #d4d4d4;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .code-snippet-section-sJg {
        top: 195.6rem;
        width: 114rem;
        height: 76.5rem;
        position: absolute;
        left: 14.9rem;

        .cuplikan-desain-grafis-ayn {
          font-family: Sora, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.4rem;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.1666666667;
          letter-spacing: 0.1rem;
          color: #ffffff;
        }
        .auto-group-9yqt-WcY {
          margin-bottom: 3rem;
          width: 100%;
          height: 28.5rem;
          display: flex;
          align-items: flex-start;

          .auto-group-qjta-FKE {
            position: relative;
            flex-shrink: 0;
            margin-right: 3rem;
            width: 55.5rem;
            height: 100%;

            .thumbnail-snippet-Yp8 {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 55.5rem;
              height: 28.2rem;
            }
            .screenshot-194-1-H12 {
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 55.5rem;
              height: 28.5rem;
              position: absolute;
            }
          }
          .auto-group-yrzu-ok4 {
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:17:150');

            .screenshot-195-1-xcx {
              width: 55.5rem;
              height: 28.2rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
        .auto-group-zbsg-sjv {
          align-items: flex-start;
          margin-bottom: 2.9rem;
          width: 100%;
          height: 28.7rem;
          display: flex;

          .auto-group-svjs-2Mv {
            background-position: center;
            background-image: url('REPLACE_IMAGE:17:153');
            flex-shrink: 0;
            margin-right: 3rem;
            height: 28.2rem;
            background-size: cover;
            background-repeat: no-repeat;

            .photo2023-04-0715-28-11-1-yHA {
              width: 55.5rem;
              height: 27.7rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .auto-group-evxe-tf2 {
            width: 55.5rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .thumbnail-snippet-SgY {
              vertical-align: top;
              width: 55.5rem;
              height: 28.2rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
            }
            .photo2023-04-0715-28-19-1-Bu2 {
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 55.5rem;
              height: 28.7rem;
              position: absolute;
            }
          }
        }
        .see-more-button-XCC {
          box-sizing: border-box;
          padding: 0.9rem 2.2rem 0.9rem 2.3rem;
          width: calc(100% - 97.5rem);
          display: flex;
          align-items: center;
          background-color: #323443;
          border-radius: 1.2rem;
          margin-right: 97.5rem;

          .viewlist-3AY {
            flex-shrink: 0;
            margin-right: 3.4rem;
            width: 1.4rem;
            height: 1.4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .see-more-nP2 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.8571428571;
            letter-spacing: 0.1rem;
            color: #c8c8c8;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
  }
  .mentorship-mobile-5sv {
    width: 32rem;
    height: 157.6rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
}
