
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desain-portofolio-jya {
  box-sizing: border-box;
  padding-bottom: 5.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272727;
}
.desain-portofolio-jya .homepage-desktop-Htc {
  width: 100%;
  height: 304rem;
  position: relative;
  overflow: hidden;
  background-color: #272727;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .hi-im-yoan-nurazizah-okU {
  width: 62.1rem;
  height: 7.2rem;
  position: absolute;
  left: 15.4rem;
  top: 16rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2857142857;
  letter-spacing: 0.1rem;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA {
  width: 199.6rem;
  height: 271.3rem;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: solid 0.1rem #4c4c4c;
  box-sizing: border-box;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-wvju-kZE {
  box-sizing: border-box;
  padding: 2.6rem 15.7rem 2.6rem 15.1rem;
  width: 144rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-wvju-kZE .naufaldi-logo-32Y {
  margin: 0rem 40.3rem 2.6rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-wvju-kZE .menu-navbar-uqS {
  margin-bottom: 2.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-wvju-kZE .menu-navbar-uqS .home-qyz {
  margin-right: 6.3rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-wvju-kZE .menu-navbar-uqS .sketch-UQg {
  margin-right: 6.3rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  letter-spacing: 0.1rem;
  color: #d1d1d1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-wvju-kZE .menu-navbar-uqS .portofolio-zP2 {
  margin-right: 7.9rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  letter-spacing: 0.1rem;
  color: #d1d1d1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-wvju-kZE .menu-navbar-uqS .kata-kata-WMN {
  margin-right: 7.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  letter-spacing: 0.1rem;
  color: #d1d1d1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-wvju-kZE .menu-navbar-uqS .blog-cQQ {
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  letter-spacing: 0.1rem;
  color: #d1d1d1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .bio-section-jV2 {
  width: 107.5rem;
  height: 24.7rem;
  position: absolute;
  left: 17.4rem;
  top: 20.3rem;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .bio-section-jV2 .saya-adalah-seorang-di-bidang-desain-grafis-lahir-di-bandung-saya-lulusan-di-smkn-14-bandung-dengan-jurusan-animasi-saya-telah-memiliki-pengalaman-kerja-praktik-selama-3-bulan-di-bidang-desain-grafis-saat-ini-saya-sedang-menempuh-pendidikan-di-universitas-islam-nusantara-fakultas-teknik-prodi-teknik-informatika-FiG {
  width: 87rem;
  height: 12.8rem;
  position: absolute;
  left: 20.5rem;
  top: 11.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  letter-spacing: 0.0252rem;
  color: #d5d5d5;
  font-family: Inter, 'Source Sans Pro';
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .bio-section-jV2 .yoan-removebg-preview-1-CX2 {
  width: 18.6105rem;
  height: 23.8027rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .bio-section-jV2 .biografi-Jpx {
  width: 20.5rem;
  height: 5.6rem;
  position: absolute;
  left: 20.5rem;
  top: 5.3rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg {
  width: 112.404rem;
  height: 28.4rem;
  position: absolute;
  left: 15.4rem;
  top: 49.4rem;
  display: flex;
  align-items: center;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .description-section-itg {
  width: 45.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .description-section-itg .what-i-do-GfJ {
  width: 14.6rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5714285714;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .description-section-itg .menciptakan-visual-yang-komunikatif-menggunakan-elemen-elemen-seperti-gambar-warna-teks-dan-ilustrasi-moto-saya-menggabungkan-seni-dan-teknologi-menekankan-penggabungan-antara-elemen-seni-dan-teknologi-dalam-proses-desain-grafis-yang-menggabungkan-keahlian-kreatif-dan-teknis-avt {
  width: 45.6rem;
  height: 22.4rem;
  position: absolute;
  left: 0.1rem;
  top: 6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  letter-spacing: 0.0252rem;
  color: #eccece;
  font-family: Inter, 'Source Sans Pro';
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N {
  box-sizing: border-box;
  padding: 2.1rem 0rem 3.4rem 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .web-dev-card-73e {
  margin-right: 4.2rem;
  width: 26.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .web-dev-card-73e .rectangle-9-eZN {
  width: 26.2rem;
  height: 19rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  background-color: #323443;
  border-radius: 1.2rem;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .web-dev-card-73e .group-2-ZgL {
  width: 22.6rem;
  height: 17.65rem;
  position: absolute;
  left: 1.75rem;
  top: 5.25rem;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .web-dev-card-73e .group-2-ZgL .fun-art-VZz {
  width: 6.7rem;
  height: 7.2rem;
  position: absolute;
  left: 7.95rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 4.5;
  letter-spacing: 0.1rem;
  color: #fafaf9;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .web-dev-card-73e .group-2-ZgL .menunjukkan-rasa-pengaguman-penghargaan-dan-dukungan-terhadap-karya-seni-dan-seniman-yang-mereka-sukai-Bhi {
  width: 22.6rem;
  height: 13rem;
  position: absolute;
  left: 0;
  top: 4.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8571428571;
  letter-spacing: 0.1rem;
  color: rgba(239, 237, 232, 0.6499999762);
  font-family: Inter, 'Source Sans Pro';
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .web-dev-card-73e .group-91-oj6 {
  box-sizing: border-box;
  padding: 2.07rem 2.16rem 2.17rem 2.16rem;
  width: 7.2rem;
  height: 7.2rem;
  position: absolute;
  left: 9.5rem;
  top: 0;
  background-color: #323443;
  border-radius: 3.6rem;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .web-dev-card-73e .group-91-oj6 .globe-KhS {
  width: 2.88rem;
  height: 2.96rem;
  object-fit: contain;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .ux-research-card-peC {
  margin: 0rem 3.8rem 0.2rem 0rem;
  width: 26.3rem;
  height: 22.7rem;
  position: relative;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .ux-research-card-peC .rectangle-9-YKJ {
  width: 26.3rem;
  height: 19rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  background-color: #323443;
  border-radius: 1.2rem;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .ux-research-card-peC .group-2-UCx {
  width: 20.3rem;
  height: 17.5rem;
  position: absolute;
  left: 3.05rem;
  top: 5.2rem;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .ux-research-card-peC .group-2-UCx .desain-grafis-cKA {
  width: 12.2rem;
  height: 7.2rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 4.5;
  letter-spacing: 0.1rem;
  color: #fafaf9;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .ux-research-card-peC .group-2-UCx .desain-grafis-melibatkan-unsur-unsur-kreativitas-inovasi-estetika-dan-keharmonisan-dalam-penyusunan-elemen-visual-W9e {
  width: 20.3rem;
  height: 13rem;
  position: absolute;
  left: 0;
  top: 4.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8571428571;
  letter-spacing: 0.1rem;
  color: rgba(239, 237, 232, 0.6499999762);
  font-family: Inter, 'Source Sans Pro';
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .ux-research-card-peC .group-91-Mvx {
  width: 7.2rem;
  height: 7.2rem;
  position: absolute;
  left: 9.6rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .ux-research-card-peC .clipboardlist-WJ4 {
  width: 2.16rem;
  height: 2.96rem;
  position: absolute;
  left: 12.12rem;
  top: 2.07rem;
  object-fit: contain;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .what-i-do-section-zxg .auto-group-wkkg-n1N .item--Rfv {
  margin-bottom: 6.5392rem;
  width: 3.804rem;
  height: 3.3608rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW {
  width: 103.2rem;
  height: 16.3rem;
  position: absolute;
  left: 15rem;
  top: 86.7rem;
  display: flex;
  align-items: center;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA {
  margin-right: 14.1rem;
  width: 56.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk {
  width: 54.1rem;
  height: 16.3rem;
  position: absolute;
  left: 0.4rem;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk .item--Ye4 {
  margin: 2.1rem 1.196rem 0rem 0rem;
  width: 3.804rem;
  height: 3.3608rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk .description-section-Gpx {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk .description-section-Gpx .auto-group-wfyt-q7N {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk .description-section-Gpx .auto-group-wfyt-q7N .photoshop-zFA {
  margin-bottom: 1.9rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5714285714;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk .description-section-Gpx .auto-group-wfyt-q7N .picsart-6oz {
  margin-left: 0.6rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5714285714;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk .description-section-Gpx .auto-group-6xxz-2Br {
  box-sizing: border-box;
  padding: 2.1rem 0rem 0rem 16.3rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk .description-section-Gpx .auto-group-6xxz-2Br .auto-group-upat-A3A {
  margin: 0rem 2.496rem 1.939rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk .description-section-Gpx .auto-group-6xxz-2Br .auto-group-upat-A3A .item--gnC {
  margin-bottom: 5.5392rem;
  width: 3.804rem;
  height: 3.3608rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk .description-section-Gpx .auto-group-6xxz-2Br .auto-group-upat-A3A .item--ptQ {
  width: 3.804rem;
  height: 3.3608rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .what-i-do-section-Qnk .description-section-Gpx .auto-group-6xxz-2Br .canva-BDA {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5714285714;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .filmora-Joa {
  width: 11.6rem;
  height: 7.2rem;
  position: absolute;
  left: 44.9rem;
  top: 0.2rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5714285714;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-danl-fqA .item--Qbi {
  width: 3.804rem;
  height: 3.3608rem;
  position: absolute;
  left: 0;
  top: 11rem;
  object-fit: contain;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-gpac-wrY {
  margin: 2.1rem 4.196rem 1.939rem 0rem;
  height: calc(100% - 4.0392rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-gpac-wrY .item--Eqe {
  margin: 0rem 0rem 5.539rem 0.3rem;
  width: 3.804rem;
  height: 3.3608rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-gpac-wrY .item--NBA {
  margin-right: 0.3rem;
  width: 3.804rem;
  height: 3.3608rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-cn1e-WHN {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-cn1e-WHN .medibang-paint-eeU {
  margin-bottom: 1.9rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5714285714;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .auto-group-a784-jwW .auto-group-cn1e-WHN .ibis-paintx-Yzk {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5714285714;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg {
  width: 112.4rem;
  height: 76.8rem;
  position: absolute;
  left: 15rem;
  top: 107.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .auto-group-upxa-oQt {
  box-sizing: border-box;
  padding-bottom: 6.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .auto-group-upxa-oQt .featured-project-wmz {
  margin: 0rem 0rem 3.8rem 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .auto-group-upxa-oQt .card-project-FXn {
  margin-right: 0.3rem;
  width: calc(100% - 0.3rem);
  height: 28.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .auto-group-upxa-oQt .card-project-FXn .auto-group-ux7z-zVN {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 2.0003rem 4.7024rem;
  width: 55.5rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/thumbnail-project-81n.png');
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .auto-group-upxa-oQt .card-project-FXn .auto-group-ux7z-zVN .misc06-L3S {
  margin: 0rem 43.599rem 21.715rem 0rem;
  width: 2.4965rem;
  height: 2.4844rem;
  object-fit: contain;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .auto-group-upxa-oQt .card-project-FXn .auto-group-9icx-qF6 {
  margin: 2rem 0;
  width: 53.6rem;
  height: calc(100% - 4rem);
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .auto-group-upxa-oQt .card-project-FXn .auto-group-9icx-qF6 .fun-art-AYG {
  margin-bottom: 2.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.1rem;
  color: #dedede;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .auto-group-upxa-oQt .card-project-FXn .auto-group-9icx-qF6 .detail-project-6B2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .auto-group-upxa-oQt .card-project-FXn .auto-group-9icx-qF6 .detail-project-6B2 .seni-penggemar-47r {
  margin-bottom: 1.2rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .auto-group-upxa-oQt .card-project-FXn .auto-group-9icx-qF6 .detail-project-6B2 .seni-penggemar-atau-biasa-disebut-fun-art-adalah-karya-seni-buatan-penggemar-dari-sebuah-karya-fiksi-umumnya-media-visual-seperti-komik-film-acara-televisi-dll-dan-berasal-dari-serangkaian-karakter-atau-aspek-lain-dari-karya-tersebut-NeL {
  max-width: 53.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  letter-spacing: 0.0252rem;
  color: #d4d4d4;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .card-project-zQp {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .card-project-zQp .thumbnail-project-k96 {
  margin-right: 3rem;
  width: 55.5rem;
  height: 28.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .card-project-zQp .auto-group-ze9e-V6g {
  margin-top: 2rem;
  width: 53.9rem;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .card-project-zQp .auto-group-ze9e-V6g .desain-grafis-S1v {
  margin-bottom: 0.35rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: 0.1rem;
  color: #dedede;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .card-project-zQp .auto-group-ze9e-V6g .detail-project-ACp {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .card-project-zQp .auto-group-ze9e-V6g .detail-project-ACp .kerja-senang-desain-grafis-vBz {
  margin-bottom: 0.65rem;
  max-width: 52.6rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .featured-projecti-section-5zg .card-project-zQp .auto-group-ze9e-V6g .detail-project-ACp .desain-grafis-atau-rancang-grafis-adalah-proses-komunikasi-menggunakan-elemen-visual-seperti-tipografi-fotografi-serta-ilustrasi-yang-dimaksudkan-untuk-menciptakan-persepsi-akan-suatu-pesan-yang-disampaikan-bidang-ini-melibatkan-proses-komunikasi-visual-dan-desain-komunikasi-d6Q {
  max-width: 53.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  letter-spacing: 0.0252rem;
  color: #d4d4d4;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .navbar-section-qhA .skill-pAt {
  width: 11.4rem;
  height: 5.6rem;
  position: absolute;
  left: 15rem;
  top: 79.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa {
  width: 114rem;
  height: 76.5rem;
  position: absolute;
  left: 15rem;
  top: 195.6rem;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .cuplikan-desain-grafis-csS {
  margin-bottom: 3.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-t1tt-w92 {
  margin-bottom: 3rem;
  width: 100%;
  height: 28.5rem;
  display: flex;
  align-items: flex-start;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-t1tt-w92 .auto-group-yxjl-t4G {
  margin-right: 3rem;
  width: 55.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-t1tt-w92 .auto-group-yxjl-t4G .thumbnail-snippet-pCp {
  width: 55.5rem;
  height: 28.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-t1tt-w92 .auto-group-yxjl-t4G .screenshot-194-1-m84 {
  width: 55.5rem;
  height: 28.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-t1tt-w92 .auto-group-7uzg-J7z {
  margin-bottom: 0.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/thumbnail-snippet.png');
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-t1tt-w92 .auto-group-7uzg-J7z .screenshot-195-1-Fov {
  width: 55.5rem;
  height: 28.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-nf2y-a5W {
  margin-bottom: 2.9rem;
  width: 100%;
  height: 28.7rem;
  display: flex;
  align-items: flex-start;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-nf2y-a5W .auto-group-mpey-7r8 {
  margin-right: 3rem;
  height: 28.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/thumbnail-snippet-nFi.png');
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-nf2y-a5W .auto-group-mpey-7r8 .photo2023-04-0715-28-11-1-sKW {
  width: 55.5rem;
  height: 27.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-nf2y-a5W .auto-group-fkjz-nSU {
  width: 55.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-nf2y-a5W .auto-group-fkjz-nSU .thumbnail-snippet-wKN {
  width: 55.5rem;
  height: 28.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .auto-group-nf2y-a5W .auto-group-fkjz-nSU .photo2023-04-0715-28-19-1-5Ra {
  width: 55.5rem;
  height: 28.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .see-more-button-Qik {
  margin-right: 97.5rem;
  box-sizing: border-box;
  padding: 0.9rem 2.2rem 0.9rem 2.3rem;
  width: calc(100% - 97.5rem);
  display: flex;
  align-items: center;
  background-color: #323443;
  border-radius: 1.2rem;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .see-more-button-Qik .viewlist-izL {
  margin-right: 3.4rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .homepage-desktop-Htc .code-snippet-section-hVa .see-more-button-Qik .see-more-GW4 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8571428571;
  letter-spacing: 0.1rem;
  color: #c8c8c8;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272727;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-1tnp-7Wg {
  box-sizing: border-box;
  padding: 2.7rem 15rem 3.2rem 15rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-1tnp-7Wg .auto-group-2cec-ErC {
  margin: 0rem 4.5rem 1.9rem 0.1rem;
  width: calc(100% - 4.6rem);
  height: 8.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-1tnp-7Wg .auto-group-2cec-ErC .yoannrzh-y36 {
  margin: 0rem 41.4rem 0.1rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-1tnp-7Wg .auto-group-2cec-ErC .menu-gCQ {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-1tnp-7Wg .auto-group-2cec-ErC .menu-gCQ .what-i-do-Rvg {
  margin-right: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 5.03125;
  color: #c4c4c4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-1tnp-7Wg .auto-group-2cec-ErC .menu-gCQ .sketch-Zmz {
  margin-right: 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-1tnp-7Wg .auto-group-2cec-ErC .menu-gCQ .portfolio-hNQ {
  margin-right: 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #d1d1d1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-1tnp-7Wg .auto-group-2cec-ErC .menu-gCQ .blog-S56 {
  margin-right: 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #d1d1d1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-1tnp-7Wg .auto-group-2cec-ErC .menu-gCQ .support-NDe {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #d1d1d1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-1tnp-7Wg .line-2-uDa {
  width: 100%;
  height: 0.1rem;
  background-color: #4c4c4c;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg {
  box-sizing: border-box;
  padding: 3.5rem 1.8rem 5.8rem 15rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di {
  margin: 0rem 13.2rem 1.45rem 0rem;
  width: 114rem;
  height: 43.25rem;
  position: relative;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .mentorship-section-51a {
  width: 114rem;
  height: 34.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .mentorship-section-51a .auto-group-ow5i-oiG {
  margin-right: 1.65rem;
  width: 47.15rem;
  height: 100%;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .mentorship-section-51a .auto-group-ow5i-oiG .sketch-kNc {
  margin-bottom: 3.6rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .mentorship-section-51a .auto-group-ow5i-oiG .group-111-TXv {
  width: 100%;
  display: flex;
  align-items: center;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .mentorship-section-51a .auto-group-ow5i-oiG .group-111-TXv .rectangle-10-RDr {
  margin: 0rem 1.25rem 0.5rem 0rem;
  width: 0.5rem;
  height: 7.7rem;
  background: linear-gradient(180deg, #3bf585 0%, #4ba8fe 100%);
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .mentorship-section-51a .auto-group-ow5i-oiG .group-111-TXv .sketsa-tangan-adalah-gambar-atau-ilustrasi-yang-dibuat-secara-bebas-menggunakan-tangan-atau-alat-tulis-tangan-seperti-pensil-pensil-warna-spidol-atau-cat-air-sebagai-media-utama-sketsa-tangan-biasanya-merupakan-representasi-awal-dari-suatu-konsep-atau-ide-visual-sebelum-diolah-lebih-lanjut-menjadi-sebuah-karya-seni-yang-lebih-lengkap-atau-final-JoS {
  max-width: 45.4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  letter-spacing: 0.0252rem;
  color: #eff4f1;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .mentorship-section-51a .feature-list-sVA {
  margin: 4.5rem 0rem 7.2rem 0rem;
  width: 65.2rem;
  height: calc(100% - 11.7rem);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .mentorship-section-51a .feature-list-sVA .rectangle-11-15a {
  width: 100%;
  height: 23.1rem;
  background-color: #323443;
  border-radius: 1.2rem;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .keuntungan-section-jnG {
  width: 112.8rem;
  height: 41.55rem;
  position: absolute;
  left: 0.5rem;
  top: 1.7rem;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .keuntungan-section-jnG .photo2023-04-0715-44-24-1-55S {
  margin: 0rem 0rem 3.488rem 47.8rem;
  width: 65rem;
  height: 32.4625rem;
  object-fit: cover;
  vertical-align: top;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-mcjl-9di .keuntungan-section-jnG .sketch-lainnya-P68 {
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-2ylq-7np {
  margin: 0rem 0rem 2rem 1.8rem;
  height: 36.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-2ylq-7np .item-1111-1-eXr {
  margin-right: 3.1rem;
  width: 30.3rem;
  height: 35.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-2ylq-7np .item-1222-1-ya8 {
  width: 30.6rem;
  height: 36.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-2ylq-7np .auto-group-erbz-inc {
  box-sizing: border-box;
  padding-left: 1.9rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-2ylq-7np .auto-group-erbz-inc .item-1444-1-Gp8 {
  margin-right: 1.9rem;
  width: 28.7rem;
  height: 36rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-2ylq-7np .auto-group-erbz-inc .item-1333-1-QfS {
  width: 28.9rem;
  height: 35.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-ubeg-M4t {
  margin: 0rem 31.9rem 2.4rem 37.5rem;
  width: calc(100% - 69.4rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-ubeg-M4t .burung2-1-U9W {
  margin-right: 4.7rem;
  width: 26.6rem;
  height: 36.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .auto-group-ubeg-M4t .burung1-1-cFi {
  width: 26.5rem;
  height: 36.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ {
  margin-right: 13.2rem;
  box-sizing: border-box;
  padding: 9.6rem 27.5rem 0rem 27.4rem;
  width: 114rem;
  height: 22rem;
  border-top: solid 0.1rem #4c4c4c;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .group-138-Yh6 {
  margin-bottom: 4.7rem;
  width: 100%;
  display: flex;
  column-gap: 6.4rem;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .group-138-Yh6 .docs-Uqe {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .group-138-Yh6 .book-notes-DYL {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .group-138-Yh6 .polywork-ATa {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .group-138-Yh6 .starter-template-7di {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .group-138-Yh6 .statistics-GFi {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .frame-5-omS {
  margin: 0 22.75rem;
  width: calc(100% - 45.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .frame-5-omS .reach-me-out-A6C {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .frame-5-omS .frame-4-u3n {
  width: 100%;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .frame-5-omS .frame-4-u3n .frame-3fn {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .frame-5-omS .frame-4-u3n .frame-bBW {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .sketch-desktop-N3J .auto-group-9wgy-ctg .footer-MDJ .frame-6-zfa .frame-5-omS .frame-4-u3n .frame-jYc {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW {
  margin-bottom: 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272727;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-tiba-SrL {
  box-sizing: border-box;
  padding: 2.7rem 14.7rem 3.2rem 15rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-tiba-SrL .auto-group-ttza-ahe {
  margin: 0rem 0rem 1.9rem 0.1rem;
  width: calc(100% - 0.1rem);
  height: 8.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-tiba-SrL .auto-group-ttza-ahe .yoannrzh-WLQ {
  margin: 0rem 41.4rem 0.1rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-tiba-SrL .auto-group-ttza-ahe .menu-Qwa {
  height: 100%;
  display: flex;
  column-gap: 6.4rem;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-tiba-SrL .auto-group-ttza-ahe .menu-Qwa .what-i-do-xTJ {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #d1d1d1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-tiba-SrL .auto-group-ttza-ahe .menu-Qwa .sketch-hfn {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #d1d1d1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-tiba-SrL .auto-group-ttza-ahe .menu-Qwa .portfolio-Evc {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 5.03125;
  color: #c8c8c8;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-tiba-SrL .auto-group-ttza-ahe .menu-Qwa .desain-grafis-PYc {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #fafafa;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-tiba-SrL .auto-group-ttza-ahe .menu-Qwa .blog-LTr {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #d1d1d1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-tiba-SrL .line-2-5gL {
  margin-right: 0.3rem;
  width: 114rem;
  height: 0.1rem;
  background-color: #4c4c4c;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r {
  box-sizing: border-box;
  padding: 4.5rem 9.7rem 4.3rem 13.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .cuplikan-desain-grafis-vS4 {
  margin: 0rem 59.1rem 3.3rem 0rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-zgwc-q3E {
  margin: 0rem 0rem 3.3rem 1.7rem;
  width: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-zgwc-q3E .screenshot-196-1-N3A {
  margin-right: 3.9rem;
  width: 57.7rem;
  height: 32.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-zgwc-q3E .screenshot-195-2-Urt {
  width: 57.7rem;
  height: 32.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-jdax-DJg {
  margin: 0rem 0rem 3.7rem 1.8rem;
  width: calc(100% - 1.8rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-jdax-DJg .screenshot-194-2-kJc {
  margin-right: 4.6rem;
  width: 56.9rem;
  height: 32rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-jdax-DJg .screenshot-193-1-gxx {
  width: 57.7rem;
  height: 32.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY {
  margin-right: 4.8rem;
  width: 116.2rem;
  height: 63.3rem;
  position: relative;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN {
  width: 116.2rem;
  height: 62.1rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .awal-1-uap {
  margin-right: 56.1rem;
  width: 60.1rem;
  height: 40.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .border-bottom-navbar-3h2 {
  margin: 0rem 0rem 9.5rem 2.2rem;
  width: 114rem;
  height: 0.1rem;
  background-color: #4c4c4c;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 {
  margin: 0rem 27.5rem 0rem 29.6rem;
  width: calc(100% - 57.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .group-138-VJ8 {
  margin-bottom: 4.7rem;
  width: 100%;
  display: flex;
  column-gap: 6.4rem;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .group-138-VJ8 .docs-Djv {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .group-138-VJ8 .book-notes-xxQ {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .group-138-VJ8 .polywork-JWU {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .group-138-VJ8 .starter-template-eKS {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .group-138-VJ8 .statistics-ayn {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .frame-5-KwN {
  margin: 0 22.75rem;
  width: calc(100% - 45.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .frame-5-KwN .reach-me-out-shz {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3;
  color: #f4f4f4;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .frame-5-KwN .frame-4-cQg {
  width: 100%;
  display: flex;
  column-gap: 3.2rem;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .frame-5-KwN .frame-4-cQg .frame-ZKv {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .frame-5-KwN .frame-4-cQg .frame-Wkx {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .footer-yBN .frame-6-xZ6 .frame-5-KwN .frame-4-cQg .frame-f84 {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .desain-desktop-ubW .auto-group-aj2p-D1r .auto-group-8xel-RvY .desain-1-b1i {
  width: 43.2rem;
  height: 37.6rem;
  position: absolute;
  left: 70.9rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desain-portofolio-jya .portofolio-desktop-VMz {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272727;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c {
  width: 100%;
  height: 36.8208rem;
  position: relative;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .yoannrzh-Nwa {
  width: 12.3rem;
  height: 3rem;
  position: absolute;
  left: 15.1rem;
  top: 5.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .menu-UDv {
  width: 56.1rem;
  height: 8.1rem;
  position: absolute;
  left: 68.8rem;
  top: 2.7rem;
  display: flex;
  column-gap: 6.4rem;
  align-items: center;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .menu-UDv .what-i-do-yRa {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #d1d1d1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .menu-UDv .sketch-XCC {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #d1d1d1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .menu-UDv .portfolio-sG4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 5.03125;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .menu-UDv .blog-R2g {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #d1d1d1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .menu-UDv .support-NTi {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 5.03125;
  color: #d1d1d1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .line-2-iGg {
  width: 114rem;
  height: 0.1rem;
  position: absolute;
  left: 15rem;
  top: 12.7rem;
  background-color: #4c4c4c;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .portofolio-web-design-sketch-r7z {
  width: 45.5rem;
  height: 21.6rem;
  position: absolute;
  left: 14.5rem;
  top: 13.15rem;
  display: flex;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2857142857;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Sora, 'Source Sans Pro';
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .arrow-ornament-wv8 {
  width: 18.0721rem;
  height: 18.0721rem;
  position: absolute;
  left: 63.8102rem;
  top: 18.7488rem;
  overflow: hidden;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-ctb6-38c .group-5mS {
  width: 17.6469rem;
  height: 13.5025rem;
  position: absolute;
  left: 61.0999rem;
  top: 15.3001rem;
  object-fit: contain;
  vertical-align: top;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck {
  box-sizing: border-box;
  padding: 0.079rem 5.9rem 2.1rem 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .auto-group-dv7n-kcg {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .auto-group-dv7n-kcg .auto-group-js32-7i8 {
  margin-right: 5.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .auto-group-dv7n-kcg .auto-group-js32-7i8 .screenshot-115-1-r9v {
  margin-bottom: 9.3rem;
  width: 80rem;
  height: 45rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .auto-group-dv7n-kcg .auto-group-js32-7i8 .screenshot-145-1-Bhz {
  width: 80rem;
  height: 47rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .auto-group-dv7n-kcg .auto-group-dncg-8NL {
  margin-top: 7.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .auto-group-dv7n-kcg .auto-group-dncg-8NL .port2-1-gPr {
  margin-bottom: 14.3rem;
  width: 37.2rem;
  height: 50.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .auto-group-dv7n-kcg .auto-group-dncg-8NL .port1-1-RcL {
  width: 37.2rem;
  height: 50.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .lets-connect-section-ZiY {
  margin-right: 94.3rem;
  width: calc(100% - 94.3rem);
  height: 7.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .lets-connect-section-ZiY .icon-list-hZr {
  margin: 1.9rem 2rem 2.1rem 0rem;
  box-sizing: border-box;
  padding-right: 0.75rem;
  height: calc(100% - 4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .lets-connect-section-ZiY .icon-list-hZr .group-1-CWc {
  margin-right: 1.7rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .lets-connect-section-ZiY .icon-list-hZr .group-2-7da {
  margin-right: 2.575rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .lets-connect-section-ZiY .icon-list-hZr .facebook-qJg {
  margin-bottom: 0.2rem;
  width: 1.375rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desain-portofolio-jya .portofolio-desktop-VMz .auto-group-8t9v-Dck .lets-connect-section-ZiY .yoannrzh-xu6 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.5714285714;
  letter-spacing: 0.1rem;
  color: #fafafa;
  font-family: Sora, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
